<?xml version="1.0"?>
<config>
    <modules>
        <Ambimax_Ribbon>
            <version>1.0.0</version>
        </Ambimax_Ribbon>
    </modules>
    <global>
        <blocks>
            <ambimax_ribbon>
                <class>Ambimax_Ribbon_Block</class>
            </ambimax_ribbon>
        </blocks>
        <helpers>
            <ambimax_ribbon>
                <class>Ambimax_Ribbon_Helper</class>
            </ambimax_ribbon>
        </helpers>
        <models>
            <ambimax_ribbon>
                <class>Ambimax_Ribbon_Model</class>
            </ambimax_ribbon>
        </models>
        <resources>
            <ambimax_ribbon_setup>
                <setup>
                    <module>Ambimax_Ribbon</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </ambimax_ribbon_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ambimax_ribbon>
                    <file>ambimax/ribbon.xml</file>
                </ambimax_ribbon>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ambimax_Ribbon>
                    <files>
                        <default>Ambimax_Ribbon.csv</default>
                    </files>
                </Ambimax_Ribbon>
            </modules>
        </translate>
    </frontend>
</config>
